/* 基本的なリセットとフォント設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* ヘッダーとナビゲーション */
header {
    background-color: #004d40;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* ヘッダーのロゴコンテナ */
.logo-container {
    text-align: center;
    padding: 10px 0;
}

.logo-container img {
    width: 512px; /* ロゴの幅を512pxに設定 */
    height: 512px; /* ロゴの高さを512pxに設定 */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* セクションのタイトル */
h2 {
    background-color: #00695c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/* プロジェクトとスキルセットのスタイル */
.project, .skills {
    background-color: #e8f5e9;
    padding: 15px;
    margin: 15px 0;
}

.project p, .skills p {
    margin-bottom: 10px;
}

.project ul, .skills ul {
    padding-left: 20px;
}

.project ul li, .skills ul li {
    list-style-type: square;
    margin-bottom: 5px;
}


#philosophy {
    padding: 20px;
    margin: 20px;
    background-color: #e8f5e9;
    border-radius: 8px;
}

#philosophy h2 {
    color: #004d40;
    margin-bottom: 20px;
}

#philosophy p {
    margin-bottom: 20px;
}

#philosophy em {
    font-style: italic;
    color: #00695c;
}

#philosophy strong {
    font-weight: bold;
    color: #2e7d32;
}


#company-rules {
    padding: 20px;
    margin: 20px;
    background-color: #e8f5e9;
    border-radius: 8px;
}

#company-rules h2 {
    color: #004d40;
    margin-bottom: 20px;
}

#company-rules p {
    margin-bottom: 20px;
    text-align: justify;
}

#behind-the-scenes {
    padding: 20px;
    margin: 20px;
    background-color: #e0f2f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#behind-the-scenes h2 {
    color: #00695c;
    margin-bottom: 20px;
}

#behind-the-scenes p {
    margin-bottom: 20px;
    text-align: justify;
}


/* フッター */
footer {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 50px; /* フッターの高さ */
    position: relative;
    bottom: 0;
    width: 100%;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
